@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html, body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #00081E 0%, #40005F 100%); /* Gradient background */
  color: white;
  /* Remove height: 100%; */
  min-height: 100vh; /* Ensure it covers at least the viewport height */
}

* {
  box-sizing: border-box; /* Use border-box model for all elements */
}
